<div class="center jumbotron">
  <h1>Welcome to Twitr</h1>

  <h2>
    Twitr -- connect with friends & broadcast what's happening
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
