<footer class="footer">
  <small>
    Ruby on Rails App
    by <a href="https://sephdev.github.io">Joseph Tandingan</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
